@import "tailwindcss";

@layer base {
  p {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
  }

  img {
    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
    -webkit-user-select: none;
  }
}